<app-logonmessages></app-logonmessages>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <img alt="compass" class="compass float-end" src="assets/images/compass_black.png" usemap="#roosmap"/>
          <map name="roosmap">
            <area alt="North" coords="0,0,80,75,160,0,0,0" href="#" (click)="goNorth();" shape="poly"/>
            <area alt="South" coords="0,151,80,75,160,151,0,151" href="#" (click)="goSouth();"
                  shape="poly"/>
            <area alt="West" coords="0,0,80,75,0,151,0,0" href="#" (click)="goWest();" shape="poly"/>
            <area alt="East" coords="160,0,80,75,160,151,160,0" href="#" (click)="goEast()" shape="poly"/>
          </map>
          <h5 id="page-title" class="card-title">@if (display().image) {
            <img
              style="vertical-align: text-bottom;"
              [src]="display().image"/>
          }{{ getTitle() }}</h5>
          <div class="card-text" [innerHTML]="getRoomDescription(display().body)">
          </div>
          <div id="karchan_body" class="card-text">
            <p>[
              @if (display().west) {
                <a href="#" (click)='goWest();'>west </a>
              }
              @if (display().east) {
                <a href="#" (click)='goEast();'>east </a>
              }
              @if (display().north) {
                <a href="#" (click)='goNorth();'>north </a>
              }
              @if (display().south) {
                <a href="#" (click)='goSouth();'>south </a>
              }
              @if (display().up) {
                <a href="#" (click)='goUp();'>up </a>
              }
              @if (display().down) {
                <a href="#" (click)='goDown();'>down </a>
              }
              ]</p>
            @if (display().persons) {
              <p>
                @for (person of display().persons; track person.name) {
                  <span>
                    {{ getVowel(person) }} {{ person.race }} called <a href="#"
                                                                       (click)="lookAtPerson(person);">{{ person.name }} {{ person.familyname }}</a> is here.<br/>
                </span>
                }
              </p>
            }
            @if (display().items) {
              <p>
                @for (item of display().items; track item) {
                  <span>
                  <a href="#" (click)="lookAtItem(item);">{{ getDescription(item) }}</a>
                    {{item.amount > 1 ? 'are' : 'is'}} here.<br/>
                </span>
                }
              </p>
            }
          </div>
          <app-chatlog></app-chatlog>
          <form (submit)="play($event)" novalidate>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <fieldset class="form-group">
                <textarea autocorrect="off" autocapitalize="none" class="form-control" id="command"
                          [formField]="commandForm.command" cols="60" rows="1" (keydown.enter)="play($event)"
                          appTextareaAutoresize>
                </textarea>
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset class="form-group">
                  <input type="submit" class="btn btn-outline-primary" value="Submit"/>
                </fieldset>
              </div>
            </div>
            @if (karchan().bigEntry) {
              <div class="row">
                <div class="col">
                  <fieldset class="form-group">
                    <app-rich-text-editor [formField]="commandForm.htmlContent" [config]="config"></app-rich-text-editor>
                  </fieldset>
                </div>
              </div>
            }
            <div class="row">
              <div class="col">
                <p class="d-grid gap-2 card-text">
                  <a class="btn btn-outline-primary" href="#" (click)="toggleSleep();">
                    @if (!karchan().sleep) {
                      <span>Sleep</span>
                    }
                    @if (karchan().sleep) {
                      <span>Awaken</span>
                    }
                  </a>
                </p>
              </div>
              <div class="col">
                <p class="d-grid gap-2 card-text">
                  <a class="btn btn-outline-primary" href="#" (click)="toggleEntry();"
                     title="Provide a big entry form">Big talk</a>
                </p>
              </div>
              @if (player?.websockets) {
                <div class="col">
                  <p class="d-grid gap-2 card-text">
                    <a class="btn btn-outline-primary" href="#" (click)="ping();"
                       title="Ping">Ping</a>
                  </p>
                </div>
              }
              @if (player?.websockets) {
                <div class="col">
                  <p class="d-grid gap-2 card-text">
                    <a class="btn btn-block btn-outline-primary" href="#" (click)="reconnect();"
                       title="Reconnect">Reconnect</a>
                  </p>
                </div>
              }
              <div class="col">
                <p class="d-grid gap-2 card-text">
                  <a class="btn btn-outline-primary" href="#" (click)="showLogonmessage();"
                     title="Show logon message">Logon message</a>
                </p>
              </div>
              <div class="col">
                <p class="d-grid gap-2 card-text">
                  <a class="btn btn-outline-primary" href="#" (click)="quit();"
                     title="Quit the game">Quit</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2">
    </div>
  </div>
</div>
