<div class="container">
  <div class="row row-content">
    <div *ngIf="!hasGuild" class="alert alert-danger" role="alert">
      You are not a member of a guild.
    </div>
  </div>
  <div class="row row-content" *ngIf="hasGuild">
    <div class="col-xs-12 col-sm-12">
      <h3>{{guild.title}}</h3>
    </div>
  </div>
</div>
<app-guild-member *ngIf="hasGuild && !isGuildMaster()" [guild]="guild"></app-guild-member>
<app-guild-master *ngIf="hasGuild && isGuildMaster()" [guild]="guild"></app-guild-master>