<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <form [formGroup]="guildForm" (ngSubmit)="save()" novalidate>
        <fieldset class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="{{guild.name}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" formControlName="title">
        </fieldset>
        <fieldset class="form-group">
          <label for="bossname">Current boss</label>
          <input type="text" class="form-control" id="bossname" name="bossname" value="{{guild.bossname}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="guildurl">Homepage - <a
          href="{{guildForm.get('guildurl').value }}" target="_blank">{{guildForm.get('guildurl').value }}</a></label>
          <input type="text" class="form-control" id="guildurl" name="guildurl" formControlName="guildurl">
        </fieldset>
        <div class="card" style="width: 100%;">
          <div class="card-header">
            Logonmessage
          </div>
          <div class="card-block" [innerHTML]="guildForm.get('logonmessage').value">
          </div>
        </div>
        <fieldset class="form-group">
          <label for="logonmessage">Logonmessage</label>
          <textarea class="form-control" id="logonmessage" rows="13" formControlName="logonmessage"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <label for="colour" [ngStyle]="getStyle()">Colour</label>
          <input type="text" class="form-control" id="colour" name="colour" formControlName="colour">
        </fieldset>
        <div class="card" style="width: 100%;">
          <div class="card-header">
            Description
          </div>
          <div class="card-block" [innerHTML]="guildForm.get('guilddescription').value">
          </div>
        </div>
        <fieldset class="form-group">
          <label for="guilddescription">Description</label>
          <textarea class="form-control" id="guilddescription" rows="13" formControlName="guilddescription"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <label for="creation">Created</label>
          <input type="text" class="form-control" id="creation" name="creation" value="{{guild.creation | date:'medium'}}" readonly>
        </fieldset>
        <div class="col-xs-12 col-sm-12 text-right">
          <button type="submit" [disabled]="guildForm.pristine" class="btn btn-primary">Save</button>
          <button type="reset" [disabled]="guildForm.pristine" class="btn btn-primary" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div><div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <hr/>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseMembers" aria-expanded="true" aria-controls="collapseMembers" (click)="checkMembers()">
          Members
        </a>
            </h5>
          </div>

          <div id="collapseMembers" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <ul class="list-group" *ngIf="guildMembers !== undefined">
                <li class="list-group-item justify-content-between" *ngFor="let member of guildMembers.members">
                  {{member.name}}, {{member.guildrank}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseRanks" aria-expanded="false" aria-controls="collapseRanks" (click)="checkRanks()">
          Ranks
        </a>
            </h5>
          </div>
          <div id="collapseRanks" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              <ul class="list-group" *ngIf="guildRanks !== undefined">
                <li class="list-group-item justify-content-between" *ngFor="let rank of guildRanks.ranks">
                  {{rank.guildlevel}} - {{rank.title}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseHopefuls" aria-expanded="false" aria-controls="collapseHopefuls" (click)="checkHopefuls()">
          Hopefuls
        </a>
            </h5>
          </div>
          <div id="collapseHopefuls" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              <ul class="list-group" *ngIf="guildHopefuls !== undefined">
                <li class="list-group-item justify-content-between" *ngFor="let hopeful of guildHopefuls.hopefuls">
                  {{hopeful.name}}, {{hopeful.guildrank}}, {{hopeful.guild}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>