<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <form novalidate>
        <fieldset class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="{{guild.name}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" value="{{guild.title}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="bossname">Current boss</label>
          <input type="text" class="form-control" id="bossname" name="bossname" value="{{guild.bossname}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="guildurl">Homepage - <a href="{{guild.guildurl}}" target="_blank">{{guild.guildurl}}</a></label>
          <input type="text" class="form-control" id="guildurl" name="guildurl" value="{{guild.guildurl}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="logonmessage">Logonmessage</label>
          <input type="text" class="form-control" id="logonmessage" name="logonmessage" value="{{guild.logonmessage}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="colour">Colour</label>
          <input type="text" class="form-control" id="colour" name="colour" value="{{guild.colour}}" readonly>
        </fieldset>
        <div class="card" style="width: 40rem;">
          <div class="card-header">
            Description
          </div>
          <div class="card-block" [innerHTML]="guild.guilddescription">
          </div>
        </div>
        <fieldset class="form-group">
          <label for="storyline">Description</label>
          <textarea class="form-control" id="guilddescription" rows="13" value="{{guild.guilddescription}}" readonly></textarea>
        </fieldset>
        <fieldset class="form-group">
          <label for="creation">Created</label>
          <input type="text" class="form-control" id="creation" name="creation" value="{{guild.creation | date:'medium'}}" readonly>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <hr/>
      <h3>Members</h3>
      <ul class="list-group">
        <li class="list-group-item justify-content-between" *ngFor="let member of guildMembers.members">
          {{member.name}}, {{member.guildrank}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <hr/>
      <h3>Ranks</h3>
      <ul class="list-group">
        <li class="list-group-item justify-content-between" *ngFor="let rank of guildRanks.ranks">
          {{rank.guildlevel}} - {{rank.title}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <hr/>
      <h3>Hopefuls</h3>
      <ul class="list-group">
        <li class="list-group-item justify-content-between" *ngFor="let hopeful of guildHopefuls.hopefuls">
          {{hopeful.name}}, {{hopeful.guildrank}}, {{hopeful.guild}}
        </li>
      </ul>
    </div>
  </div>
</div>