<div class="container">
  <div class="row row-content">
    @if (!hasGuild) {
      <div class="alert alert-danger" role="alert">
        You are not a member of a guild.
      </div>
    }
  </div>
  @if (hasGuild) {
    <div class="row row-content">
      <div class="col-xs-12 col-sm-12">
        <h3>{{guild?.title}}</h3>
      </div>
    </div>
  }
</div>
@if (hasGuild && !isGuildMaster()) {
  <app-guild-member [guild]="guild"></app-guild-member>
}
@if (hasGuild && isGuildMaster()) {
  <app-guild-master [guild]="guild"></app-guild-master>
}

