<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <table class="table table-sm table-striped table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>URL</th>
            <th>Created</th>
            <th>Modified</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blog of blogs">
            <td (click)="setBlog(blog)">{{ blog.id }}</td>
            <td (click)="setBlog(blog)">{{ blog.title }}</td>
            <td (click)="setBlog(blog)">{{ blog.urlTitle }}</td>
            <td (click)="setBlog(blog)">{{ blog.creation | date:'medium' }}</td>
            <td (click)="setBlog(blog)">{{ blog.modification | date:'medium' }}</td>
            <td>
              <a href="#" (click)="deleteBlog(blog)"><i class="material-icons align-middle">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    <div class="col-xs-12 col-sm-12">
      <h3>Compose Blog</h3>
    </div>
    <div class="col-xs-12 col-sm-12">
      <form [formGroup]="blogForm" (ngSubmit)="saveBlog()" novalidate>
        <fieldset class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" formControlName="title">
        </fieldset>
        <fieldset class="form-group">
          <label for="urlTitle">URL</label>
          <input type="text" class="form-control" id="urlTitle" name="urlTitle" formControlName="urlTitle">
          <small id="urlTitle" class="form-text text-muted">Only alphanumeric in small caps and dashes, please. For example: 'upgrade-postponed-indefinitely'.</small>
        </fieldset>
        <div class="card" style="width: 40rem;">
          <div class="card-header">
            Contents
          </div>
          <div class="card-block" [innerHTML]="blogForm.get('contents').value">
          </div>
        </div>
        <fieldset class="form-group">
          <label for="body">Contents</label>
          <textarea class="form-control" id="contents" rows="13" formControlName="contents"></textarea>
          <small id="contents" class="form-text text-muted">First letter will automatically be turned into a calligraphic picture.</small>
        </fieldset>
        <div class="col-xs-12 col-sm-12 text-right">
          <button type="submit" [disabled]="blogForm.pristine" class="btn btn-primary">Save</button>
          <button type="reset" [disabled]="blogForm.pristine" class="btn btn-primary" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>