<div class="container-fluid d-none d-sm-block">
  <div class="media">
    <img class="mr-3" src="assets/images/dragon.gif" alt="Dragon">
    <div class="media-body">
      <h1 class="mt-0">Land of Karchan</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-expand d-block d-sm-none">
      <a class="navbar-brand">Land of Karchan</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{active: isSettingsTabActive()}" (click)="setSettingsTabActive()"
            href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{active: isMailTabActive()}" (click)="setMailTabActive()" href="#">Mail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{active: isGuildTabActive()}" (click)="setGuildTabActive()" href="#">Guild</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<app-game></app-game>
<div class="container">
  <div class="container">
    <div class="row row-content">
      <div class="col-xs-12 col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-player-settings *ngIf="isSettingsTabActive()"></app-player-settings>
  <app-mail *ngIf="isMailTabActive()"></app-mail>
  <app-guild *ngIf="isGuildTabActive()"></app-guild>
  <div class="container">
    <div class="row row-content">
      <div class="col-xs-12 col-sm-12">
        <app-errors></app-errors>
      </div>
    </div>
  </div>