<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12">
            <form>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="ownerSearch" name="ownerSearch" placeholder="Owner"
                        #searchowner (keyup.enter)="updateOwnerSearch(searchowner.value)"
                        (blur)="updateOwnerSearch(searchowner.value)">
                </fieldset>
              <fieldset class="form-group">
                <input type="text" class="form-control" id="nameSearch" name="nameSearch" placeholder="Name"
                       #searchname (keyup.enter)="updateNameSearch(searchname.value)"
                       (blur)="updateNameSearch(searchname.value)">
              </fieldset>
              <fieldset class="form-group">
                <input type="text" class="form-control" id="ipSearch" name="ipSearch" placeholder="Address"
                       #searchip (keyup.enter)="updateIpSearch(searchip.value)"
                       (blur)="updateIpSearch(searchip.value)">
              </fieldset>
              <fieldset class="form-group">
                <input type="text" class="form-control" id="roomSearch" name="roomSearch" placeholder="Roomnr"
                       #searchroom (keyup.enter)="updateRoomSearch(searchroom.value)"
                       (blur)="updateRoomSearch(searchroom.value)">
              </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row row-content">
    <div class="col-xs-12 col-xl-6">
      <h1>Character {{ item === undefined || item === null ? '-' : item.name }}</h1>
      <form [formGroup]="form" novalidate>
        <fieldset class="form-group">
          <label for="name">Name</label>
          <input type="text" [readonly]="item !== undefined" class="form-control" id="name" name="name"
                 formControlName="name">
        </fieldset>
        <fieldset class="form-group">
          <label for="image">Image</label>
          <input type="text" class="form-control" id="image" name="image" formControlName="image">
        </fieldset>
        <fieldset class="form-group">
          <div class="card" *ngIf="item !== undefined && item !== null && item.title !== undefined">
            <div class="card-text" [innerHTML]="item.title">
            </div>
          </div>
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" formControlName="title">
                </fieldset>
                <fieldset class="form-group">
                    <label for="room">Room</label>
                    <input type="number" class="form-control" id="room" name="room" formControlName="room">
                </fieldset>
                <fieldset *ngIf="item !== undefined && item !== null && item.name !== undefined" class="form-group">
                    <label for="god">God</label>
                    <input readonly type="text" class="form-control" id="god" name="god" formControlName="god">
                </fieldset>
                <fieldset *ngIf="item === undefined || item === null || item.name === undefined" class="form-group">
                    <label for="god">God</label>
                    <select class="form-control" id="god" name="god" formControlName="god">
                        <option>GOD</option>
                        <option>BOT</option>
                        <option>MOB</option>
                        <option>SHOPKEEPER</option>
                        <option>DEFAULT_USER</option>
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <label for="race">Race</label>
                    <input type="text" class="form-control" id="race" name="race" formControlName="race">
                </fieldset>
                <fieldset class="form-group">
                    <label for="sex">Sex</label>
                    <input type="text" class="form-control" id="sex" name="sex" formControlName="sex">
                </fieldset>
                <fieldset class="form-group">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" id="age" name="age" formControlName="age">
                </fieldset>
                <fieldset class="form-group">
                    <label for="height">Height</label>
                    <input type="text" class="form-control" id="height" name="height" formControlName="height">
                </fieldset>
                <fieldset class="form-group">
                    <label for="width">Width</label>
                    <input type="text" class="form-control" id="width" name="width" formControlName="width">
                </fieldset>
                <fieldset class="form-group">
                    <label for="complexion">Complexion</label>
                    <input type="text" class="form-control" id="complexion" name="complexion"
                        formControlName="complexion">
                </fieldset>
                <fieldset class="form-group">
                    <label for="eyes">Eyes</label>
                    <input type="text" class="form-control" id="eyes" name="eyes" formControlName="eyes">
                </fieldset>
                <fieldset class="form-group">
                    <label for="face">Face</label>
                  <input type="text" class="form-control" id="face" name="face" formControlName="face">
                </fieldset>
        <fieldset class="form-group">
          <label for="hair">Hair</label>
          <input type="text" class="form-control" id="hair" name="hair" formControlName="hair">
        </fieldset>
        <fieldset class="form-group">
          <label for="beard">Beard</label>
          <input type="text" class="form-control" id="beard" name="beard" formControlName="beard">
        </fieldset>
        <fieldset class="form-group">
          <label for="arm">Arm</label>
          <input type="text" class="form-control" id="arm" name="arm" formControlName="arm">
        </fieldset>
        <fieldset class="form-group">
          <label for="leg">Leg</label>
          <input type="text" class="form-control" id="leg" name="leg" formControlName="leg">
        </fieldset>
        <fieldset class="form-group">
          <label for="birth">Birthdate</label>
          <input readonly type="text" class="form-control" id="birth" name="birth" formControlName="birth">
        </fieldset>
        <fieldset class="form-group">
          <label for="lastlogin">Last time logged in</label>
          <input readonly type="text" class="form-control" id="lastlogin" name="lastlogin"
                 formControlName="lastlogin">
        </fieldset>
        <fieldset class="form-group">
          <label for="copper">Copper</label>
          <input readonly type="number" class="form-control" id="copper" name="copper"
                 formControlName="copper">
        </fieldset>
        <fieldset class="form-group">
          <label for="address">Address</label>
          <input type="text" readonly class="form-control" id="address" name="address"
                 formControlName="address">
        </fieldset>
        <fieldset class="form-group">
          <label for="realname">Real name</label>
          <input type="text" class="form-control" id="realname" name="realname" formControlName="realname">
        </fieldset>
        <fieldset class="form-group">
          <label for="newpassword">New password</label>
          <input type="text" class="form-control" id="newpassword" name="newpassword" formControlName="newpassword">
        </fieldset>
        <fieldset class="form-group">
          <label for="notes">Notes</label>
          <textarea class="form-control" id="notes" rows="13" formControlName="notes"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <label for="owner">Owner</label>
          <input type="text" class="form-control" id="owner" name="owner" formControlName="owner">
        </fieldset>
        <div class="col-xs-12 col-sm-12 text-right">
          <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                  (click)="updateItem()">Update
          </button>
          <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                  (click)="createItem()">Create
          </button>
          <button type="button" class="mx-1 btn btn-secondary" (click)="deleteItem()">Delete</button>
          <button type="reset" class="mx-1 btn btn-secondary" (click)="cancel()">Cancel</button>
        </div>
      </form>
      <h2>Attributes</h2>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
          <th scope="col">Type</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attribute of attributes" (click)="setAttribute(attribute)">
          <td *ngIf="attribute">{{ attribute.id }}</td>
          <td *ngIf="attribute">
            <a [routerLink]="['/attributes/', attribute.name]">{{ attribute.name }}</a></td>
          <td *ngIf="attribute">{{ attribute.value }}</td>
          <td *ngIf="attribute">{{ attribute.valueType }}</td>
          <td *ngIf="attribute">
            <a href="#" (click)="deleteAttribute(attribute)">
              <i class="material-icons align-middle">delete</i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <h1>Attribute {{ attribute === undefined || attribute === null ? '-' : attribute.name }}</h1>
      <form [formGroup]="attributeForm" novalidate>
        <fieldset class="form-group">
          <label for="id">Id</label>
          <input type="number" readonly class="form-control" id="id" name="id" formControlName="id">
        </fieldset>
        <fieldset class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" formControlName="name">
        </fieldset>
        <fieldset class="form-group">
          <label for="value">Value</label>
          <input type="text" class="form-control" id="value" name="value" formControlName="value">
        </fieldset>
        <fieldset class="form-group">
          <label for="valueType">Type</label>
          <input type="text" class="form-control" id="valueType" name="valueType" formControlName="valueType">
        </fieldset>
        <div class="col-xs-12 col-sm-12 text-right">
          <button type="submit" [disabled]="attributeForm.pristine" class="mx-1 btn btn-primary"
                  (click)="updateAttribute()">Update
          </button>
          <button type="submit" [disabled]="attributeForm.pristine" class="mx-1 btn btn-primary"
                  (click)="createAttribute()">Create
          </button>
          <button type="reset" class="mx-1 btn btn-secondary" (click)="cancelAttribute()">Cancel</button>
        </div>
      </form>
    </div>
        <div class="col-xs-12 col-xl-6">
            <button type="button" class="mx-1 btn btn-secondary" (click)="refresh()">Refresh</button>
            <cdk-virtual-scroll-viewport style="height: 400px;" [itemSize]="33">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Room</th>
                            <th scope="col">Race</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Address</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Creation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let character of items; templateCacheSize: 0"
                            [ngClass]="isActive(character)" (click)="setItemById(character.name)">
                            <td *ngIf="character">{{ character.name }}</td>
                            <td *ngIf="character">{{ character.room }}</td>
                            <td *ngIf="character">{{ character.race }}</td>
                            <td *ngIf="character">{{ character.sex }}</td>
                            <td *ngIf="character">{{ character.address }}</td>
                            <td *ngIf="character">{{ character.owner }}</td>
                            <td *ngIf="character">{{ character.creation }}</td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>
