<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12">
            <form>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="ownerSearch" name="ownerSearch" placeholder="Owner"
                        #searchowner (keyup.enter)="updateOwnerSearch(searchowner.value)"
                        (blur)="updateOwnerSearch(searchowner.value)">
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="titleSearch" name="titleSearch" placeholder="Title"
                        #searchtitle (keyup.enter)="updateTitleSearch(searchtitle.value)"
                        (blur)="updateTitleSearch(searchtitle.value)">
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="descriptionSearch" name="descriptionSearch"
                        placeholder="Contents" #searchdescription
                        (keyup.enter)="updateDescriptionSearch(searchdescription.value)"
                        (blur)="updateDescriptionSearch(searchdescription.value)">
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="areaSearch" name="areaSearch"
                        placeholder="Area" #searcharea
                        (keyup.enter)="updateAreaSearch(searcharea.value)"
                        (blur)="updateAreaSearch(searcharea.value)">
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12 col-xl-6">
            <h1>Room id {{ room === undefined ? '-' : room.id }}</h1>
            <form [formGroup]="form" novalidate>
                <fieldset class="form-group">
                    <label for="id">Id</label>
                    <input type="number" class="form-control" id="id" name="id" formControlName="id">
                </fieldset>
                <fieldset class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" formControlName="title">
                </fieldset>
                <fieldset class="form-group">
                    <label for="picture">Picture</label>
                    <input type="text" class="form-control" id="picture" name="picture" formControlName="picture">
                    <small id="picture" class="form-text text-muted">Only valid urls please. For example:
                        'https://www.pictures.org/gif/web.gif'.</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="area">Area</label>
                    <input type="text" class="form-control" id="area" name="area" formControlName="area">
                </fieldset>
                <div class="form-row">
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="north">North <a href="#" *ngIf="isSelected() && item.north !== null"
                                    (click)="setItemById(item.north)">{{ item.north }}</a></label>
                            <input type="number" class="form-control" id="north" name="north" formControlName="north">
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="south">South <a href="#" *ngIf="isSelected() && item.south !== null"
                                    (click)="setItemById(item.south)">{{ item.south }}</a></label>
                            <input type="number" class="form-control" id="south" name="south" formControlName="south">
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="west">West <a href="#" *ngIf="isSelected() && item.west !== null"
                                    (click)="setItemById(item.west)">{{ item.west }}</a></label>
                            <input type="number" class="form-control" id="west" name="west" formControlName="west">
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="east">East <a href="#" *ngIf="isSelected() && item.east !== null"
                                    (click)="setItemById(item.east)">{{ item.east }}</a></label>
                            <input type="number" class="form-control" id="east" name="east" formControlName="east">
                        </fieldset>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="up">Up <a href="#" *ngIf="isSelected() && item.up !== null"
                                    (click)="setItemById(item.up)">{{ item.up }}</a></label>
                            <input type="number" class="form-control" id="up" name="up" formControlName="up">
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="down">Down <a href="#" *ngIf="isSelected() && item.down !== null"
                                    (click)="setItemById(item.down)">{{ item.down }}</a></label>
                            <input type="number" class="form-control" id="down" name="down" formControlName="down">
                        </fieldset>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Contents
                    </div>
                    <div class="card-text" [innerHTML]="form.get('contents').value">
                    </div>
                </div>
                <fieldset class="form-group">
                    <label for="owner">Owner</label>
                    <input type="text" class="form-control" id="owner" name="owner" formControlName="owner">
                </fieldset>
                <fieldset class="form-group">
                    <label for="body">Contents</label>
                    <textarea class="form-control" id="contents" rows="13" formControlName="contents"></textarea>
                    <small id="contents" class="form-text text-muted">First letter will automatically be turned into
                        a calligraphic picture.</small>
                </fieldset>
                <div class="col-xs-12 col-sm-12 text-right">
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="updateItem()">Update</button>
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="createItem()">Create</button>
                    <button type="button" class="mx-1 btn btn-secondary" (click)="deleteItem()">Delete</button>
                    <button type="reset" class="mx-1 btn btn-secondary" (click)="cancel()">Cancel</button>
                </div>
            </form>
            <h2>Commands</h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Command</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let command of commands">
                        <td>{{ command.id }}</td>
                        <td><a [routerLink]="['/commands', command.id]">{{ command.command }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-xl-6">
            <button type="button" class="mx-1 btn btn-secondary" (click)="refresh()">Refresh</button>
            <cdk-virtual-scroll-viewport style="height: 400px;" [itemSize]="33">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Area</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Creation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let room of items; 
                        templateCacheSize: 0" [ngClass]="isActive(room)" (click)="setItemById(room.id)">
                            <th *ngIf="room" scope="row">{{ room.id }}</th>
                            <td *ngIf="room">{{ room.title }}</td>
                            <td *ngIf="room">{{ room.area }}</td>
                            <td *ngIf="room">{{ room.owner }}</td>
                            <td *ngIf="room">{{ room.creation }}</td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>