<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12">
            <form>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="owner" name="owner" placeholder="Owner" #searchowner
                        (keyup.enter)="updateOwner(searchowner.value)" (blur)="updateOwner(searchowner.value)">
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12 col-xl-6">
            <h1>Room id {{ room === undefined ? '-' : room.id }}</h1>
            <form [formGroup]="form" novalidate>
                <fieldset class="form-group">
                    <label for="id">Id</label>
                    <input type="number" class="form-control" id="id" name="id" formControlName="id">
                </fieldset>
                <fieldset class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" formControlName="title">
                </fieldset>
                <fieldset class="form-group">
                    <label for="picture">Picture</label>
                    <input type="text" class="form-control" id="picture" name="picture" formControlName="picture">
                    <small id="picture" class="form-text text-muted">Only valid urls please. For example:
                        'https://www.pictures.org/gif/web.gif'.</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="area">Area</label>
                    <input type="text" class="form-control" id="area" name="area" formControlName="area">
                </fieldset>
                <div class="form-row">
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="north">North <a href="#" *ngIf="isRoomSelected() && room.north !== null"
                                    (click)="setRoomById(room.north)">{{ room.north }}</a></label>
                            <input type="number" class="form-control" id="north" name="north" formControlName="north">
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="south">South <a href="#" *ngIf="isRoomSelected() && room.south !== null"
                                    (click)="setRoomById(room.south)">{{ room.south }}</a></label>
                            <input type="number" class="form-control" id="south" name="south" formControlName="south">
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="west">West <a href="#" *ngIf="isRoomSelected() && room.west !== null"
                                    (click)="setRoomById(room.west)">{{ room.west }}</a></label>
                            <input type="number" class="form-control" id="west" name="west" formControlName="west">
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="east">East <a href="#" *ngIf="isRoomSelected() && room.east !== null"
                                    (click)="setRoomById(room.east)">{{ room.east }}</a></label>
                            <input type="number" class="form-control" id="east" name="east" formControlName="east">
                        </fieldset>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="up">Up <a href="#" *ngIf="isRoomSelected() && room.up !== null"
                                    (click)="setRoomById(room.up)">{{ room.up }}</a></label>
                            <input type="number" class="form-control" id="up" name="up" formControlName="up">
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="down">Down <a href="#" *ngIf="isRoomSelected() && room.down !== null"
                                    (click)="setRoomById(room.down)">{{ room.down }}</a></label>
                            <input type="number" class="form-control" id="down" name="down" formControlName="down">
                        </fieldset>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Contents
                    </div>
                    <div class="card-text" [innerHTML]="form.get('contents').value">
                    </div>
                </div>
                <fieldset class="form-group">
                    <label for="owner">Owner</label>
                    <input type="text" class="form-control" id="owner" name="owner" formControlName="owner">
                </fieldset>
                <fieldset class="form-group">
                    <label for="body">Contents</label>
                    <textarea class="form-control" id="contents" rows="13" formControlName="contents"></textarea>
                    <small id="contents" class="form-text text-muted">First letter will automatically be turned into
                        a calligraphic picture.</small>
                </fieldset>
                <div class="col-xs-12 col-sm-12 text-right">
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="updateRoom()">Update</button>
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="createRoom()">Create</button>
                    <button type="button" class="mx-1 btn btn-secondary" (click)="deleteRoom()">Delete</button>
                    <button type="reset" class="mx-1 btn btn-secondary" (click)="cancel()">Cancel</button>
                </div>
            </form>
            <h2>Commands</h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Command</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let command of commands">
                        <td>{{ command.id }}</td>
                        <td><a href="commands/{{command.id}}">{{ command.command }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-xl-6">
            <cdk-virtual-scroll-viewport style="height: 400px;" [itemSize]="33">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Area</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Creation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let room of datasource; 
                        templateCacheSize: 0" [ngClass]="isActive(room)" (click)="setRoomById(room.id)">
                            <th *ngIf="room" scope="row">{{ room.id }}</th>
                            <td *ngIf="room">{{ room.title }}</td>
                            <td *ngIf="room">{{ room.area }}</td>
                            <td *ngIf="room">{{ room.owner }}</td>
                            <td *ngIf="room">{{ room.creation }}</td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>