<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12 col-xl-6">
            <h1>Item {{ item === undefined ? '-' : item.id }}</h1>
            <form [formGroup]="form" novalidate>
                <fieldset class="form-group">
                    <label for="id">Id</label>
                    <input type="number" class="form-control" id="id" name="id" formControlName="id">
                </fieldset>
                <div class="row">
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="adject1">Adjective 1</label>
                            <input type="text" class="form-control" id="adject1" name="adject1"
                                formControlName="adject1">
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="adject2">Adjective 1</label>
                            <input type="text" class="form-control" id="adject2" name="adject2"
                                formControlName="adject2">
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="adject3">Adjective 1</label>
                            <input type="text" class="form-control" id="adject3" name="adject3"
                                formControlName="adject3">
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" formControlName="name">
                        </fieldset>
                    </div>
                </div>
                <fieldset class="form-group">
                    <label for="image">Image</label>
                    <input type="text" class="form-control" id="image" name="image" formControlName="image">
                </fieldset>
                <fieldset class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" formControlName="title">
                </fieldset>
                <fieldset class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="13" formControlName="description"></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label for="readdescr">Readable description</label>
                    <textarea class="form-control" id="readdescr" rows="13" formControlName="readdescr"></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label for="discriminator">Discriminator</label>
                    <input type="text" class="form-control" id="discriminator" name="discriminator" formControlName="discriminator">
                </fieldset>
                <fieldset class="form-group">
                    <label for="eatable">Eatable</label>
                    <textarea class="form-control" id="eatable" rows="13" formControlName="eatable"></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label for="drinkable">Drinkable</label>
                    <textarea class="form-control" id="drinkable" rows="13" formControlName="drinkable"></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label for="room">Room</label>
                    <input type="number" class="form-control" id="room" name="room" formControlName="room">
                </fieldset>
                <fieldset class="form-group">
                    <label for="wearable">Wearable</label>
                    <input type="number" class="form-control" id="wearable" name="wearable" formControlName="wearable">
                </fieldset>
                <fieldset class="form-group">
                    <label for="copper">Copper</label>
                    <input type="number" class="form-control" id="copper" copper="copper" formControlName="copper">
                </fieldset>
                <fieldset class="form-group">
                    <label for="weight">Weight</label>
                    <input type="number" class="form-control" id="weight" weight="weight" formControlName="weight">
                </fieldset>
                <fieldset class="form-group">
                    <label for="container">Container</label>
                    <input type="number" class="form-control" id="container" container="container"
                        formControlName="container">
                </fieldset>
                <fieldset class="form-group">
                    <label for="keyid">Key id</label>
                    <input type="number" class="form-control" id="keyid" keyid="keyid" formControlName="keyid">
                </fieldset>
                <fieldset class="form-group">
                    <label for="containtype">Contain type</label>
                    <input type="number" class="form-control" id="containtype" containtype="containtype"
                        formControlName="containtype">
                </fieldset>
                <fieldset class="form-group">
                    <label for="capacity">Capacity</label>
                    <input type="number" class="form-control" id="capacity" capacity="capacity"
                        formControlName="capacity">
                </fieldset>
                <fieldset class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="getable" name="getable"
                        formControlName="getable">
                    <label class="form-check-label" for="getable">Getable</label>
                </fieldset>
                <fieldset class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="dropable" name="dropable"
                        formControlName="dropable">
                    <label class="form-check-label" for="dropable">Dropable</label>
                </fieldset>
                <fieldset class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="bound" name="bound"
                        formControlName="bound">
                    <label class="form-check-label" for="bound">Bound</label>
                </fieldset>
                <fieldset class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="visible" name="visible"
                        formControlName="visible">
                    <label class="form-check-label" for="visible">Visible</label>
                </fieldset>
                <fieldset class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="wieldable" name="wieldable"
                        formControlName="wieldable">
                    <label class="form-check-label" for="wieldable">Wieldable</label>
                </fieldset>
                <fieldset class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="lightable" name="lightable"
                        formControlName="lightable">
                    <label class="form-check-label" for="lightable">Lightable</label>
                </fieldset>
                <fieldset class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="isopenable" name="isopenable"
                        formControlName="isopenable">
                    <label class="form-check-label" for="isopenable">Is openable</label>
                </fieldset>
                <fieldset class="form-group">
                    <label for="owner">Owner</label>
                    <input type="text" class="form-control" id="owner" name="owner" formControlName="owner">
                </fieldset>
                <fieldset class="form-group">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" id="notes" rows="13" formControlName="notes"></textarea>
                </fieldset>
                <div class="col-xs-12 col-sm-12 text-right">
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="updateItem()">Update</button>
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="createItem()">Create</button>
                    <button type="button" class="mx-1 btn btn-secondary" (click)="deleteItem()">Delete</button>
                    <button type="reset" class="mx-1 btn btn-secondary" (click)="cancel()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-xl-6">
            <button type="button" class="mx-1 btn btn-secondary" (click)="refresh()">Refresh</button>
            <cdk-virtual-scroll-viewport style="height: 400px;" [itemSize]="33">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Adject1</th>
                            <th scope="col">Adject2</th>
                            <th scope="col">Adject3</th>
                            <th scope="col">Name</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Creation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let item of items; templateCacheSize: 0" [ngClass]="isActive(item)"
                            (click)="setItemById(item.id)">
                            <th *ngIf="item" scope="row">{{ item.id }}</th>
                            <td *ngIf="item">{{ item.adject1 }}</td>
                            <td *ngIf="item">{{ item.adject2 }}</td>
                            <td *ngIf="item">{{ item.adject3 }}</td>
                            <td *ngIf="item">{{ item.name }}</td>
                            <td *ngIf="item">{{ item.owner }}</td>
                            <td *ngIf="item">{{ item.creation }}</td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>