<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12 col-xl-6">
            <h1>Silly name {{ item === undefined || item === null ? '-' : item?.name }}</h1>
            <form [formGroup]="form" novalidate>
                <fieldset class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="name">
                </fieldset>
                <div class="col-xs-12 col-sm-12 text-right"> 
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="createItem()">Create</button>
                    <button type="button" class="mx-1 btn btn-secondary" (click)="deleteItem()">Delete</button>
                    <button type="reset" class="mx-1 btn btn-secondary" (click)="cancel()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-xl-6">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Silly name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items; " (click)="setItem(item)">
                        <td *ngIf="item">{{ item.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>