<div class="container"> 
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <form action="/html/tags/html_form_tag_action.cfm">
        <fieldset class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name"
          value="{{player.name}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title">
        </fieldset>
        <fieldset class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" name="description"
          value="{{player.description}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="guild">Guild</label>
          <input type="text" class="form-control" id="guild" name="guild"
          value="{{player.guild}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="homepage">Homepage - <a
          href="{{player.homepageurl}}" target="_blank">{{player.homepageurl}}</a></label>
          <input type="text" class="form-control" id="homepage" name="homepage">
        </fieldset>
        <fieldset class="form-group">
          <p><img class="img-fluid" src="{{player.imageurl}}" alt="Card image
          cap"></p>
          <label for="image_url">Image</label>
          <input type="text" class="form-control" id="image_url" name="image_url">
        </fieldset>
        <fieldset class="form-group">
          <label for="date_of_birth">Date of Birth</label>
          <input type="text" class="form-control" id="date_of_birth" name="date_of_birth">
        </fieldset>
        <fieldset class="form-group">
          <label for="city_of_birth">City of Birth</label>
          <input type="text" class="form-control" id="city_of_birth" name="city_of_birth">
        </fieldset>
        <fieldset class="form-group">
           <label for="storyline">Storyline</label>
          <textarea class="form-control" id="storyline" rows="3"></textarea>
        </fieldset>
       </form>
    </div>  
    <div class="col-xs-12 col-sm-2">
      <h3>Character</h3>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-2">      
      Name:
    </div>
    <div class="col-xs-12 col-sm-10">
      {{player.name}}
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-2">
      Title:     
    </div>
    <div class="col-xs-12 col-sm-10">
      {{player.title}}
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-2">
      Gender:
    </div>
    <div class="col-xs-12 col-sm-10">
      {{player.sex}}
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-2">
      Description:
    </div>
    <div class="col-xs-12 col-sm-10">
      {{player.description}}
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-2">
      Guild:
    </div>
    <div class="col-xs-12 col-sm-10">
      {{player.guild}}
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-2">
      Homepage url:
    </div>
    <div class="col-xs-12 col-sm-10">
      <a href="{{player.homepageurl}}">
        {{player.homepageurl}}
      </a>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      Image url: 
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <img src="{{player.imageurl}}" alt="{{player.imageurl}}"/>
    </div> 
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-2">
      Date of Birth:
    </div>
    <div class="col-xs-12 col-sm-10">
      {{player.dateofbirth}}
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-2">
      City of Birth:
    </div>
    <div class="col-xs-12 col-sm-10">
      {{player.cityofbirth}}
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      Storyline:
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12" id="storyline" [innerHTML]="player.storyline">
    </div>
  </div>  
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12 text-right">
      <button type="button" class="btn btn-primary btn-block" *ngIf="!editMode" (click)="edit()">Edit</button>
      <button type="button" class="btn btn-primary" *ngIf="editMode" (click)="save()">Save</button>
      <button type="button" class="btn btn-primary" *ngIf="editMode" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>  
<div class="container"> 
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <hr/>
      <h3>Family relations</h3>
      <ul class="list-group">
        <li class="list-group-item justify-content-between" *ngFor="let relation of player.familyvalues">
          {{relation.description}} of {{relation.toname}}   
          <button type="button" class="close" aria-label="Close" (click)="delete(relation)">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      </ul>
    </div>
  </div>    
</div>
