<h1>Settings</h1>
<p>
  Name: {{player.name}}
</p>
<p>
  Title: {{player.title}}
</p>
<p>
  Gender: {{player.sex}}
</p>
<p>
  Description: {{player.description}}
</p>
<p>
  Guild: {{player.guild}}
</p>
<p>
  Homepage url: 
    <a href="{{player.homepageurl}}">
      {{player.homepageurl}}
    </a>
</p>
<p>
  Image url: 
    <img src="{{player.imageurl}}" alt="{{player.imageurl}}"/>
</p>
<p>
  Date of Birth: {{player.dateofbirth}}
</p>
<p>
  City of Birth: {{player.cityofbirth}}
</p>
<p>
  Storyline: {{player.storyline}}
</p>
<p>
  Family relations:
  <ul>
    <li *ngFor="let relation of
    player.familyvalues">{{relation.description}} of {{relation.toname}}
    </li>
  </ul>
<pre>{{data | json}}</pre>
