<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12">
            <form>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="ownerSearch" name="ownerSearch" placeholder="Owner" #searchowner
                        (keyup.enter)="updateOwnerSearch(searchowner.value)" (blur)="updateOwnerSearch(searchowner.value)">
                </fieldset>
                <fieldset class="form-group">
                        <input type="text" class="form-control" id="methodNameSearch" name="methodNameSearch" placeholder="MethodName" #searchmethodname
                            (keyup.enter)="updateMethodNameSearch(searchmethodname.value)" (blur)="updateMethodNameSearch(searchmethodname.value)">
                    </fieldset>
                </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12 col-xl-6">
            <h1>Command {{ item === undefined || item === null ? '-' : item.id }}</h1>
            <form [formGroup]="form" novalidate>
                <fieldset class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="callable" name="callable"
                        formControlName="callable">
                    <label class="form-check-label" for="callable">Callable</label>
                </fieldset>
                <fieldset class="form-group">
                    <label for="command">Command</label>
                    <input type="text" class="form-control" id="command" name="command" formControlName="command">
                </fieldset>
                <fieldset class="form-group">
                    <label for="methodName">Method name <a
                            *ngIf="item !== undefined && item !== null && item.methodName !== undefined"
                            [routerLink]="['/methods', item.methodName]">{{ item.methodName }}</a></label>
                    <input type="text" class="form-control" id="methodName" name="methodName"
                        formControlName="methodName">
                </fieldset>
                <fieldset class="form-group">
                    <label for="room">Room <a *ngIf="item !== undefined && item !== null && item.room !== undefined"
                        [routerLink]="['/rooms', item.room]">{{ item.room }}</a></label>
                    <input type="number" class="form-control" id="room" name="room" formControlName="room">
                </fieldset>
                <fieldset class="form-group">
                    <label for="owner">Owner</label>
                    <input type="text" class="form-control" id="owner" name="owner" formControlName="owner">
                </fieldset>
                <div class="col-xs-12 col-sm-12 text-right">
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="updateItem()">Update</button>
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="createItem()">Create</button>
                    <button type="button" class="mx-1 btn btn-secondary" (click)="deleteItem()">Delete</button>
                    <button type="reset" class="mx-1 btn btn-secondary" (click)="cancel()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-xl-6">
            <button type="button" class="mx-1 btn btn-secondary" (click)="refresh()">Refresh</button>
            <cdk-virtual-scroll-viewport style="height: 400px;" [itemSize]="33">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col"><a href="#" (click)="sortById()">Id</a></th>
                            <th scope="col"><a href="#" (click)="sortByCommand()">Command</a></th>
                            <th scope="col"><a href="#" (click)="sortByMethodName()">Method name</a></th>
                            <th scope="col">Room</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Creation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let command of items; templateCacheSize: 0" [ngClass]="isActive(command)"
                            (click)="setItemById(command.id)">
                            <th *ngIf="command" scope="row">{{ command.id }}</th>
                            <td *ngIf="command">{{ command.command }}</td>
                            <td *ngIf="command">{{ command.methodName }}</td>
                            <td *ngIf="command">{{ command.room }}</td>
                            <td *ngIf="command">{{ command.owner }}</td>
                            <td *ngIf="command">{{ command.creation }}</td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>