<div class="container-fluid">
    <div class="row align-items-start alert alert-primary">
        <div class="col">
            {{ administrator.name }}
        </div>
        <div class="col">
            {{ administrator.title }}
        </div>
        <div class="col">
            {{ administrator.email }}
        </div>
        <div class="col">
            Created on: {{ administrator.creation }}
        </div>
        <div class="col">
            Valid until: {{ administrator.validuntil }}
        </div>
    </div>
</div>