<h2>Item instances</h2>
<form [formGroup]="itemForm" novalidate>
    <div class="row">
        <div class="col">
            <fieldset class="form-group">
                <label for="id">Id</label>
                <input type="number" class="form-control" id="id" name="id"
                       formControlName="id" readonly>
            </fieldset>
        </div>
        <div class="col">
            <fieldset class="form-group">
                <label for="itemid">Item definition id</label>
                <input type="number" class="form-control" id="itemid" name="itemid"
                       formControlName="itemid">
            </fieldset>
        </div>
        <div class="col">
            <fieldset class="form-group">
                <label for="belongsto">Belongs to</label>
                <input type="text" class="form-control" id="belongsto" name="belongsto"
                       formControlName="belongsto">
            </fieldset>
        </div>
        <div class="col">
            <fieldset class="form-group">
                <label for="containerid">Container id</label>
                <input type="number" class="form-control" id="containerid" name="containerid"
                       formControlName="containerid">
            </fieldset>
        </div>
        <div class="col">
            <fieldset class="form-group">
                <label for="room">Room</label>
                <input type="number" class="form-control" id="room" name="room"
                       formControlName="room">
            </fieldset>
        </div>
        <div class="col">
            <fieldset class="form-group">
                <label for="discriminator">Discriminator</label>
                <input type="number" class="form-control" id="discriminator" name="discriminator"
                       formControlName="discriminator">
            </fieldset>
        </div>
        <div class="col">
            <fieldset class="form-group">
                <label for="shopkeeper">Shopkeeper</label>
                <input type="text" class="form-control" id="shopkeeper" name="shopkeeper"
                       formControlName="shopkeeper">
            </fieldset>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 text-right">
        <button type="submit" [disabled]="itemForm.pristine" class="mx-1 btn btn-primary"
                (click)="createIteminstance()">Create</button>
    </div>
</form>
<table class="table table-sm table-hover">
    <thead>
    <tr>
        <th scope="col">Item</th>
        <th scope="col">Item description</th>
        <th scope="col">Item definition</th>
        <th scope="col">Belongs to</th>
        <th scope="col">Contained in</th>
        <th scope="col">Container def</th>
        <th scope="col">Room</th>
        <th scope="col">Discriminator</th>
        <th scope="col">Shopkeeper</th>
        <th scope="col">Owner</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of iteminstances">
        <td>{{ item.id }}</td>
        <td>{{ item.description }}</td>
        <td><a [routerLink]="['/items', item.itemid]">{{ item.itemid }}</a></td>
        <td><a [routerLink]="['/characters', item.belongsto]">{{ item.belongsto }}</a></td>
        <td>{{ item.containerid }}</td>
        <td><a [routerLink]="['/items', item.containerdefid]">{{ item.containerdefid }}</a></td>
        <td><a [routerLink]="['/rooms', item.room]">{{ item.room }}</a></td>
        <td>{{ item.discriminator }}</td>
        <td><a [routerLink]="['/characters', item.shopkeeper]">{{ item.shopkeeper }}</a></td>
        <td>{{ item.owner }}</td>
        <td>
            <button type="button" class="close" aria-label="Close" (click)="deleteItemInstance(item)">
                <i class="material-icons" aria-hidden="true">delete</i>
            </button>
        </td>
    </tr>
    </tbody>
</table>