<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-2">
      <h3>{{player.name}}</h3>
    </div>
    <div class="col-xs-12 col-sm-12">
      <form [formGroup]="playerForm" (ngSubmit)="save()" novalidate>
        <fieldset class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="{{player.name}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" formControlName="title">
        </fieldset>
        <fieldset class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" name="description" value="{{player.description}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="guild">Guild</label>
          <input type="text" class="form-control" id="guild" name="guild" value="{{player.guild}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="homepage">Homepage - <a
          href="{{playerForm.get('homepageurl').value }}" target="_blank">{{playerForm.get('homepageurl').value }}</a></label>
          <input type="text" class="form-control" id="homepage" name="homepage" formControlName="homepageurl">
        </fieldset>
        <fieldset class="form-group">
          <p><img class="img-fluid" src="{{playerForm.get('imageurl').value }}" alt="{{player.name}}'s Image"></p>
          <label for="image_url">Image</label>
          <input type="text" class="form-control" id="image_url" name="image_url" formControlName="imageurl">
        </fieldset>
        <fieldset class="form-group">
          <label for="date_of_birth">Date of Birth</label>
          <input type="text" class="form-control" id="date_of_birth" name="date_of_birth" formControlName="dateofbirth">
        </fieldset>
        <fieldset class="form-group">
          <label for="city_of_birth">City of Birth</label>
          <input type="text" class="form-control" id="city_of_birth" name="city_of_birth" formControlName="cityofbirth">
        </fieldset>
        <div class="card" style="width: 40rem;">
          <div class="card-header">
            Storyline
          </div>
          <div class="card-text" [innerHTML]="playerForm.get('storyline').value">
          </div>
        </div>
        <fieldset class="form-group">
          <label for="storyline">Storyline</label>
          <textarea class="form-control" id="storyline" rows="13" formControlName="storyline"></textarea>
        </fieldset>
        <div class="col-xs-12 col-sm-12 text-right">
          <button type="submit" [disabled]="playerForm.pristine" class="btn btn-primary">Save</button>
          <button type="reset" [disabled]="playerForm.pristine" class="btn btn-primary" (click)="cancel()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="deleteCharacter()">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <hr/>
      <h3>Family relations</h3>
      <ul class="list-group">
        <li class="list-group-item justify-content-between" *ngFor="let relation of player.familyvalues" (click)="setFamilyForm(relation)">
          {{relation.description}} of {{relation.toname}}
          <button type="button" class="close" aria-label="Close" (click)="delete(relation)">
            <i class="material-icons" aria-hidden="true">delete</i>
          </button>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12">
      <form [formGroup]="familyForm" (ngSubmit)="saveFamily()" novalidate>
        <fieldset class="form-group">
          <label for="toname">Name</label>
          <input type="text" class="form-control" id="toname" name="toname" formControlName="toname">
        </fieldset>
        <fieldset class="form-group">
          <label for="description">Relation description</label>
          <select class="form-control" id="description" name="description" formControlName="description">
            <option *ngFor="let description of getAllPossibleFamilyValues()">{{ description }}</option>
          </select>
        </fieldset>
        <div class="col-xs-12 col-sm-12 text-right">
          <button type="submit" [disabled]="familyForm.pristine" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>