<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-2">
      <h3>{{player.name}}</h3>
    </div>
    <div class="col-xs-12 col-sm-12">
      <form [formGroup]="playerForm" (ngSubmit)="save()" novalidate>
        <fieldset class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="{{player.name}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="familyname">Family name</label>
          <input type="text" class="form-control" id="familyname" name="familyname" formControlName="familyname">
          <div id="familynameHelp" class="form-text">Also called a surname or last name.
          </div>
        </fieldset>
        <fieldset class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" formControlName="title">
        </fieldset>
        <fieldset class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" name="description" value="{{player.description}}"
                 readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="guild">Guild</label>
          <input type="text" class="form-control" id="guild" name="guild" value="{{player.guild}}" readonly>
        </fieldset>
        <fieldset class="form-group">
          <label for="homepage">Homepage - <a href="{{playerForm.get('homepageurl')?.value }}"
                                              target="_blank">{{playerForm.get('homepageurl')?.value }}</a></label>
          <input type="text" class="form-control" id="homepage" name="homepage" formControlName="homepageurl">
        </fieldset>
        <fieldset class="form-group">
          <p><img class="img-fluid" src="{{playerForm.get('imageurl')?.value }}" alt="{{player.name}}'s Image"></p>
          <label for="image_url">Image</label>
          <input type="text" class="form-control" id="image_url" name="image_url" formControlName="imageurl">
        </fieldset>
        <fieldset class="form-group">
          <label for="date_of_birth">Date of Birth</label>
          <input type="text" class="form-control" id="date_of_birth" name="date_of_birth" formControlName="dateofbirth">
        </fieldset>
        <fieldset class="form-group">
          <label for="city_of_birth">City of Birth</label>
          <input type="text" class="form-control" id="city_of_birth" name="city_of_birth" formControlName="cityofbirth">
        </fieldset>
        <div class="card" style="width: 40rem;">
          <div class="card-header">
            Storyline
          </div>
          <div class="card-text" [innerHTML]="playerForm.get('storyline')?.value">
          </div>
        </div>
        <fieldset class="form-group">
          <label for="storyline">Storyline</label>
          <textarea class="form-control" id="storyline" rows="13" formControlName="storyline"></textarea>
        </fieldset>
        <div class="col-xs-12 col-sm-12">
          <hr/>
          <h3>Settings</h3>
        </div>
        <div class="col-xs-12 col-sm-12">
          <button type="button" (click)="darkmode();" class="btn btn-primary" id="darkmodeToggle">{{getDarkmodeLabel()}}</button>
        </div>
        <div class="col-xs-12 col-sm-12">
          <fieldset class="form-group">
            <label for="websockets">Websockets</label>
            <input class="form-control form-check-input" type="checkbox" value="" id="websockets"
                   formControlName="websockets">
            <div id="websocketsHelp" class="form-text">For some people websockets do not work properly. The default is
              websockets enabled.
            </div>
          </fieldset>
        </div>
        <div class="col-xs-12 col-sm-12 text-right">
          <fieldset class="form-group">
            <label for="debuglog">Debug logging</label>
            <select class="form-control" id="debuglog" name="debuglog" formControlName="debuglog">
              <option>NONE</option>
              <option>SEVERE</option>
              <option>INFO</option>
              <option>WARNING</option>
              <option>DEBUG</option>
            </select>
            <div id="debuglogHelp" class="form-text">Default is NONE, no logging. Best to leave it at that, unless you
              want to examine log messages in the browser JavaScript console.
            </div>
          </fieldset>
        </div>
        <div class="col-xs-12 col-sm-12 text-right">
          <hr/>
          <button type="submit" [disabled]="playerForm.pristine" class="btn btn-primary">Save</button>
          <button type="reset" [disabled]="playerForm.pristine" class="btn btn-primary"
                  (click)="cancel()">Cancel
          </button>
          <button type="button" class="btn btn-primary" (click)="deleteCharacter()">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <hr/>
      <h3>Reset password</h3>
    </div>
    <div class="col-xs-12 col-sm-12">
      <form [formGroup]="resetpasswordForm" (ngSubmit)="resetPassword()" novalidate>
        <fieldset class="form-group">
          <label for="oldpassword">Old password</label>
          <input type="text" class="form-control" id="oldpassword" name="oldpassword" formControlName="oldpassword">
        </fieldset>
        <fieldset class="form-group">
          <label for="password">New password</label>
          <input type="text" class="form-control" id="password" name="password" formControlName="password">
        </fieldset>
        <fieldset class="form-group">
          <label for="password2">New password (again)</label>
          <input type="text" class="form-control" id="password2" name="password2" formControlName="password2">
        </fieldset>
        <div class="col-xs-12 col-sm-12 text-right">
          <button type="submit" [disabled]="resetpasswordForm.pristine" class="btn btn-primary">Reset password</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <hr/>
      <h3>Family relations</h3>
      <ul class="list-group">
        <li class="list-group-item justify-content-between" *ngFor="let relation of player.familyvalues"
            (click)="setFamilyForm(relation)">
          {{relation.description}} of {{relation.toname}}
          <button type="button" class="close" aria-label="Close" (click)="delete(relation)">
            <i class="material-icons" aria-hidden="true">delete</i>
          </button>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12">
      <form [formGroup]="familyForm" (ngSubmit)="saveFamily()" novalidate>
        <fieldset class="form-group">
          <label for="toname">Name</label>
          <input type="text" class="form-control" id="toname" name="toname" formControlName="toname">
        </fieldset>
        <fieldset class="form-group">
          <label for="description">Relation description</label>
          <select class="form-control" id="relationdescription" name="description" formControlName="description">
            <option *ngFor="let description of getAllPossibleFamilyValues()">{{ description }}</option>
          </select>
        </fieldset>
        <div class="col-xs-12 col-sm-12 text-right">
          <button type="submit" [disabled]="familyForm.pristine" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
