<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12">
            <form>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="owner" name="owner" placeholder="Owner" #searchowner
                        (keyup.enter)="updateOwner(searchowner.value)" (blur)="updateOwner(searchowner.value)">
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Methodname" #searchname
                        (keyup.enter)="updateName(searchname.value)" (blur)="updateName(searchname.value)">
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12 col-xl-6">
            <h1>Method {{ item === undefined || item === null ? '-' : item?.name }}</h1>
            <form [formGroup]="form" novalidate>
                <fieldset class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="name">
                </fieldset>
                <fieldset class="form-group">
                    <label for="owner">Owner</label>
                    <input type="text" class="form-control" id="owner" name="owner" formControlName="owner">
                </fieldset>
                <fieldset class="form-group">
                    <label for="src">Source</label>
                    <textarea class="form-control" id="src" rows="13" formControlName="src"></textarea>
                </fieldset>
                <div class="col-xs-12 col-sm-12 text-right">
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="updateItem()">Update</button>
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="createItem()">Create</button>
                    <button type="button" class="mx-1 btn btn-secondary" (click)="deleteItem()">Delete</button>
                    <button type="reset" class="mx-1 btn btn-secondary" (click)="cancel()">Cancel</button>
                </div>
            </form>
            <h2>Commands</h2>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Command</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let command of commands">
                        <td>{{ command.id }}</td>
                        <td><a [routerLink]="['/commands', command.id]">{{ command.command }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-xl-6">
            <button type="button" class="mx-1 btn btn-secondary" (click)="refresh()">Refresh</button>
            <cdk-virtual-scroll-viewport style="height: 400px;" [itemSize]="33">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Creation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let method of items; templateCacheSize: 0" [ngClass]="isActive(method)"
                            (click)="setItemById(method.name)">
                            <th *ngIf="method" scope="row">{{ method.name }}</th>
                            <td *ngIf="method">{{ method.owner }}</td>
                            <td *ngIf="method">{{ method.creation }}</td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>