<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12">
            <form>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="owner" name="owner" placeholder="Owner" #searchowner
                        (keyup.enter)="updateOwner(searchowner.value)" (blur)="updateOwner(searchowner.value)">
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12 col-xl-6">
            <h1>Method {{ method === undefined ? '-' : method.name }}</h1>
            <form [formGroup]="form" (ngSubmit)="saveMethod()" novalidate>
                <fieldset class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="name">
                </fieldset>
                <fieldset class="form-group">
                    <label for="owner">Owner</label>
                    <input readonly type="text" class="form-control" id="owner" name="owner" formControlName="owner">
                </fieldset>
                <fieldset class="form-group">
                    <label for="src">Source</label>
                    <textarea class="form-control" id="src" rows="13" formControlName="src"></textarea>
                </fieldset>
                <div class="col-xs-12 col-sm-12 text-right">
                    <button type="submit" [disabled]="form.pristine" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-primary" (click)="cancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="deleteMethod()">Delete</button>
                    <button type="button" class="btn btn-primary" (click)="disownMethod()">Disown</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-xl-6">
            <cdk-virtual-scroll-viewport style="height: 400px;" [itemSize]="33">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Creation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let method of datasource; templateCacheSize: 0" [ngClass]="isActive(method)"
                            (click)="setMethod(method)">
                            <th *ngIf="method" scope="row">{{ method.name }}</th>
                            <td *ngIf="method">{{ method.owner }}</td>
                            <td *ngIf="method">{{ method.creation }}</td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>