<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <table class="table table-sm table-striped table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>
              <a href="#" (click)="mails.toggleAll()">
                <i
                  class="material-icons align-middle">{{ mails.isAllSelected() ? "check_box": "check_box_outline_blank"}}</i>
              </a>
              <a href="#" (click)="deleteSelectedMails()">
                <i class="material-icons align-middle">delete</i>
              </a>
            </th>
            <th>From</th>
            <th>Subject</th>
            <th>When</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mail of mails.getMails()">
            <th scope="row"></th>
            <td>
              <a href="#" (click)="mail.selected = !mail.selected">
                <i class="material-icons align-middle">{{ mail.selected ? "check_box": "check_box_outline_blank"}}</i>
              </a>
            </td>
            <td (click)="setMail(mail)">{{ mail.name }}</td>
            <td (click)="setMail(mail)">{{ mail.subject }}</td>
            <td (click)="setMail(mail)">{{ mail.whensent | date:'medium' }}</td>
            <td>
              <a href="#" (click)="replyMail(mail)"><i class="material-icons align-middle">reply</i></a>
              <a href="#" (click)="deleteMail(mail)"><i class="material-icons align-middle">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" (click)="mails.previous()">Previous</a>
          </li>
          <li class="page-item" (click)="mails.setPage(header-1)" [ngClass]="{active: mails.page === (header-1)}"
            *ngFor="let header of mails.generatePages()"><a class="page-link" href="#">{{ header }}</a></li>
          <li class="page-item">
            <a class="page-link" href="#" (click)="next()">Next</a>
          </li>
        </ul>
      </nav>
      <div class="card" *ngIf="mail.toname !== undefined">
        <div class="card-text">
          <h4 class="card-title">{{ mail.subject }}</h4>
          <p class="card-text"><strong>From:</strong> {{ mail.name }}</p>
          <p class="card-text"><strong>To:</strong> {{ mail.toname }}</p>
          <p class="card-text"><strong>On:</strong> {{ mail.whensent | date:'medium' }}</p>
        </div>
        <div class="card-text" [innerHTML]="mail.body">
        </div>
      </div>
    </div>
  </div>
</div>
<app-compose-mail [originalMail]="originalMail"></app-compose-mail>