<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-12">
            <h3>Compose Mail</h3>
        </div>
        <div class="col-xs-12 col-sm-12">
            <form [formGroup]="mailForm" (ngSubmit)="send()" novalidate>
                <fieldset class="form-group">
                    <label for="toname">To</label>
                    <input type="text" class="form-control" id="toname" name="toname" formControlName="toname">
                </fieldset>
                <fieldset class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject" formControlName="subject">
                </fieldset>
                <div class="card">
                    <div class="card-header">
                        Body
                    </div>
                    <div class="card-text" [innerHTML]="mailForm.get('body').value">
                    </div>
                </div>
                <fieldset class="form-group">
                    <label for="body">Body</label>
                    <textarea class="form-control" id="body" rows="13" formControlName="body"></textarea>
                </fieldset>
                <div class="col-xs-12 col-sm-12 text-right">
                    <button type="submit" [disabled]="mailForm.pristine" class="btn btn-primary">Send</button>
                    <button type="reset" [disabled]="mailForm.pristine" class="btn btn-primary"
                        (click)="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>