<div class="container-fluid">
    <div class="row row-content">
        <div class="col-xs-12 col-xl-6">
            <h1>{{ item === undefined || item === null ? '-' : item?.command }}</h1>
            <div *ngIf="item !== undefined">
                <p> </p>
                <dl>
                    <dt><b>NAME</b></dt>
                    <dd><b>{{ item?.command }}</b> - formatted output</dd>
                    <p></p>
                    <dt><b>SYNOPSIS</b></dt>
                    <dd>{{ item?.synopsis }}</dd>
                    <p></p>
                    <dt><b>DESCRIPTION</b></dt>
                    <dd>{{ item?.contents }}</dd>
                    <p></p>
                    <dt><b>EXAMPLES</b></dt>
                    <dd>"{{ item?.example1 }}"<p></p>
                        You: <code>{{ item?.example1a }}</code><br>
                        Anybody: <code>{{ item?.example1b }}</code>
                        <p></p>"{{ item?.example2}}"<p></p>
                        You: <code>{{ item?.example2a }}</code><br>
                        Marvin: <code>{{ item?.example2b }}</code><br>
                        Anybody: <code>{{ item?.example2c }}</code>
                        <p></p>
                    </dd>
                    <dt><b>SEE ALSO</b></dt>
                    <dd>{{ item?.seealso }}<p></p>
                    </dd>
                </dl>
                <p></p>
            </div>
            <form [formGroup]="form" novalidate>
                <fieldset class="form-group">
                    <label for="command">Command</label>
                    <input type="text" class="form-control" id="command" name="command" formControlName="command">
                </fieldset>
                <fieldset class="form-group">
                    <label for="synopsis">Synopsis</label>
                    <input type="text" class="form-control" id="synopsis" name="synopsis" formControlName="synopsis">
                </fieldset>
                <fieldset class="form-group">
                    <label for="contents">Description</label>
                    <input type="text" class="form-control" id="contents" name="contents" formControlName="contents">
                </fieldset>
                <fieldset class="form-group">
                    <label for="example1">Example 1</label>
                    <input type="text" class="form-control" id="example1" name="example1" formControlName="example1">
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="example1a" name="example1a" formControlName="example1a">
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="example1b" name="example1b" formControlName="example1b">
                </fieldset>
                <fieldset class="form-group">
                    <label for="example2">Example 2</label>
                    <input type="text" class="form-control" id="example2" name="example2" formControlName="example2">
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="example2a" name="example2a" formControlName="example2a">
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="example2b" name="example2b" formControlName="example2b">
                </fieldset>
                <fieldset class="form-group">
                    <input type="text" class="form-control" id="example2c" name="example2c" formControlName="example2c">
                </fieldset>
                <fieldset class="form-group">
                    <label for="seealso">See also</label>
                    <input type="text" class="form-control" id="seealso" name="seealso" formControlName="seealso">
                </fieldset>
                <div class="col-xs-12 col-sm-12 text-right">
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="updateItem()">Update</button>
                    <button type="submit" [disabled]="form.pristine" class="mx-1 btn btn-primary"
                        (click)="createItem()">Create</button>
                    <button type="button" class="mx-1 btn btn-secondary" (click)="deleteItem()">Delete</button>
                    <button type="reset" class="mx-1 btn btn-secondary" (click)="cancel()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-xl-6">
            <button type="button" class="mx-1 btn btn-secondary" (click)="refresh()">Refresh</button>
            <cdk-virtual-scroll-viewport style="height: 400px;" [itemSize]="33">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Command</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let manpage of items; templateCacheSize: 0" [ngClass]="isActive(manpage)"
                            (click)="setItemById(manpage.command)">
                            <td *ngIf="manpage">{{ manpage.command }}</td>
                        </tr>
                    </tbody>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>